h1{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: blueviolet;
  font-weight: 300;
  font-size: 30px;
}

h2, h3 {
  text-align: right;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: blueviolet;
  font-weight: 300;
}

h2{
  font-weight: 600;
  border-bottom: 1px solid blueviolet;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 100px;
}

/*gallery - images */
.container{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: row;
    margin: 20px 100px 100px 100px;
    flex-wrap: wrap;
    direction: rtl;
}
.gallery-item {
  margin: 10px;
  flex-flow: row;
  border: 0.5px solid #ccc;
  float:right;
  width: 400px;
  height: auto;
  position: relative;
}

.gallery-item:hover {
    border: 0.5px solid blueviolet;
}
.gallery-item.image-style{
    width: 100%;
    height: auto;
}
.gallery-item img {
  width: 100%;
  height: auto;
  max-height: min-content;
  cursor: pointer;
}

.gallery-item.image-style img{
    transition: .10s ease-in-out;
    transform: scale(1.2);
}

.desc {
  padding: auto;
  text-align: center;
  font-weight: lighter;
}

.desc h1:hover{
    color: plum;
}

.banner-title{
  font-size: 50px;
  color: black;
  text-align: center;
  margin: 10px;
}

.banner-title img:hover{
  transform: scale(1.2);
  transition: 1s ease-in-out;
  transition: 1s ease-out;
}

@media screen and (max-width: 600px) {
    .container{
        display: flex;
        align-items:center;
        justify-content: center;
    }
    .gallery-item {
        border: 0.5px solid #ccc;
        width: 300px;
        height: auto;
        position: relative;
      }
}

